.p {
  padding-top: 15px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 0.5em;
  margin-bottom: 0;
}

.footer {
  bottom: -100;
  margin-top: 10vh;
  position: absolute;
  width: 100vw;
  /* margin-bottom: 0; */
  background-color: #212121;
}
